.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.904);
  color: #efefef;
}
*{
  margin: 0;
  padding: 0;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.bgSayain{
  background-image: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.473)), 
  url("./images/2sayains.jpg");
    /* width: 100%; */
    /* height: fit-content; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 10px 0 0 0;
}
.ultraScroll{
  width: 100%;
  height: 40vh;
  overflow-y: auto;
}
.ultra-img{
  /* object-fit: cover; */
  /* aspect-ratio: 1; */
  image-rendering: pixelated;
  padding: 60px 0;
  height: 80vh;
  border-radius: 20px;
}
.listData {
  list-style: none;
  font-weight: 700;
  /* text-align: left; */
  margin: 17px 0;
}
@media (width <= 500px)  {
  .ultra-img{
    height: 30vh;
  }
}
@media (width > 769px){
  .App{
    height: 100vh;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
