.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.904);
  color: #efefef;
}
*{
  margin: 0;
  padding: 0;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.bgSayain{
  background-image: linear-gradient(rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.473)), 
  url("./images/2sayains.jpg");
    /* width: 100%; */
    /* height: fit-content; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 10px 0 0 0;
}
.ultraScroll{
  width: 100%;
  height: 40vh;
  overflow-y: auto;
}
.ultra-img{
  /* object-fit: cover; */
  /* aspect-ratio: 1; */
  image-rendering: auto;
  padding: 60px 0px;
  height: 80vh;
  border-radius: 20px;
}
.listData {
  list-style: none;
  font-weight: 700;
  /* text-align: left; */
  margin: 17px 0;
}

a{
  text-decoration: none;
  color: #b6b5b5;
}
a:hover{
  animation: changeColor 5s linear infinite;
}

/* Media Queries */
@media (width <= 500px)  {
  .ultra-img{
    height: 55vh;
  }
}
@media (width > 500px)  {
  .ultra-img{
    height: 70vh;
  }
}
@media (width > 769px){
  .App{
    height: 100vh;
  }
}

.App-link {
  color: #b6b5b5;
}

/* For ep link color */
@keyframes changeColor {
  0%{
    color: yellow;
  }
  20%{
    color: red;
  }
  40%{
    color: rgb(9, 199, 228);
  }
  60%{
    color: white;
  }
  80%{
    color: purple;
  }
  100%{
    color: rgb(227, 33, 65);
  }
}
